
.box {
  background-color: lightblue;
  border: 1px solid blue;
  min-height: 50px;
  font-size: 2rem;
}

*{
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

body {
  margin-top: 40px; 
  background-color: #E0E7FF;
}


.adjust-margin{
  margin-bottom: 10px;
}

.text{
  text-align: justify;
  text-justify: inter-word;
}

#about{
  position: relative;
  bottom: 56px;
}


.carousel-caption{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  height: 100%;
  text-align: center;
  z-index: 2;

}


.carousel-control-prev,
.carousel-control-next{
  z-index: 3;
  position: absolute;
  top: 50%;
  transform: translatey(-50%);
}

.carousel-inner::before{
  content:'';
  position:absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: rgba(0,0,0,0.5);
  z-index: 1;
}

@media (min-width: 320px){
  body::before {
    content: "XS";
    color: red;
    font-size: 2rem;
    font-weight: bold;
    position: fixed;
    top: 0;
    right: 0;
  }
  body{
    font-size: 12px;
  }
  .adjust-margin > h4{
    font-size: 24px;
  }
  .adjust-margin{
    margin-bottom: 0px;
  }

}

@media (min-width: 576px) {
  body::before {
    content: "SM";
  }
  body{
    font-size: 15px;
  }
  .adjust-margin > h4{
    font-size: 27px;
  }

}

@media (min-width: 768px) {
  body::before {
    content: "MD";
  }
  .adjust-margin > h4{
    font-size: 35px;
  }
  body{
    font-size: 15px;
  }

}

@media (min-width: 992px) {
  body::before {
    content: "LG";
  }
  body{
    font-size: 16px;
  }  
  .adjust-margin > h4{
    font-size: 45px;
  }
  h3.fs-2{
    font-size: 38px !important;
  }

}

@media (min-width: 1200px) {
  body::before {
    content: "XL";
  }
  body{
    font-size: 16px;
  }
  .adjust-margin > h4{
    font-size: 45px;
  }

}

@media (min-width: 1400px) {
  body::before {
    content: "XXL";
  }
  body{
    font-size: 18px;
  }
  .adjust-margin > h4{
    font-size: 55px;
  }

}
